<!DOCTYPE html>

<html>

<head>
    <title>Download CSV file from your ZIP file</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <br />

    {{>navbar}}

    <br />

    <h1 class="text-center text-dark">Download your CSV file</h1>

    <br />

    <div class="container">

        <div class="text-center">

            <div class="row">
                <div class="col">
                    <p class="text-dark">Download CSV file</p>
                    <form action="/download-zc" method="GET">
                        <button type="submit" class="btn btn-secondary" id="recordIt">Download</button>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <br />
    <br />

    <h2 class="text-dark">Please take a look at the data.</h2>

    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                {{#each columnNames}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.IntentID}}</td>
                <td>{{this.IntentName}}</td>
                <td>{{this.Query}}</td>
                <td>{{this.Response}}</td>
                <td>{{this.Response2}}</td>
                <td>{{this.Action}}</td>
                <td>{{this.InputContext}}</td>
                <td>{{this.OutputContext}}</td>
                <td>{{this.Lifespan}}</td>
                <td>{{this.CallsWebhook}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>

    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76380861-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-76380861-3');
    </script>

</body>

</html>